.card.block_latest_local_announcements {
    border: 0 none !important;
    padding-top: 4px;
}
.card.block_latest_local_announcements .block-controls {
    padding: 15px;
}
.card.block_latest_local_announcements .card-body {
    padding: 0 !important;
}

.block_latest_local_announcements-content {
    background-color: #f4f6f8;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.125);
}

.block_latest_local_announcements .lann-header h3 {
    padding-right: 50px;
}
.block_latest_local_announcements #btn-newannouncement {
    font-size: small;
    position: absolute;
    right: 15px;
    top: 15px;
}
.block_latest_local_announcements.block_with_controls #btn-newannouncement {
    right: 80px;
}
.block_latest_local_announcements .lann-footer {
    text-align: center;
}
.block_latest_local_announcements #btn-viewall {
    font-size: small;
}
.block_latest_local_announcements .lann-list {
    padding: 15px 0;
}
.block_latest_local_announcements .announcement {
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px #e4e6e8;
    box-shadow: 2px 2px 2px 0px #e4e6e8;
    margin-bottom: 10px;
    border-radius: 5px;
    border-radius: 0px;
    border: 1px solid #cdcdcd;
    border: 1px solid #ddd;
}
.block_latest_local_announcements .announcement.unavailable,
.block_latest_local_announcements .announcement.modpending {
    background-color: #f8dec4;
}
.block_latest_local_announcements .announcement.modrejected {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.block_latest_local_announcements .announcement.unavailable .header,
.block_latest_local_announcements .announcement.modpending .header,
.block_latest_local_announcements .announcement.modrejected .header {
    border-bottom: 1px solid #bcbcbc;
}
.block_latest_local_announcements a.view-full-link {
    z-index: 2;
    position: relative;
}
.block_latest_local_announcements .fetching-full a.view-full-link {
    display: none;
}
.block_latest_local_announcements .userphoto {
    position: relative;
    float: left;
    margin-right: 7px;
    height: 25px;
    width: 25px;
    overflow: hidden;
}
.block_latest_local_announcements .userphoto img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1px solid #aaa;
    display: block;
}
.block_latest_local_announcements .note {
    font-style: italic;
    font-size: 13px;
    padding: 6px 15px 0;
}
.block_latest_local_announcements .header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e4e6e8;
    padding: 10px 15px;
}
.block_latest_local_announcements .subject {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}
.block_latest_local_announcements .impersonatedby {
    margin: 5px 0 0 6px;
    display: block;
    overflow: hidden;
    position: absolute;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    transition: margin 0.3s ease;
}
.block_latest_local_announcements .impersonatedby span {
    transition: opacity 0.6s ease;
    opacity: 0;
    font-size: 12px;
    color: #616161;
}
.block_latest_local_announcements .header:hover .impersonatedby {
    z-index: 1;
    margin: 14px 0 0 12px;
    opacity: 1;
}
.block_latest_local_announcements .header:hover .impersonatedby span {
    opacity: 1;
}
.block_latest_local_announcements .author {
    float: left;
    font-size: 14px;
    line-height: 25px;
}
.block_latest_local_announcements .leftwrap {
    float: left;
    margin-right: 10px;
}
.block_latest_local_announcements .rightwrap {
    float: none;
}
.block_latest_local_announcements .home .rightwrap {
    float: right;
}
.block_latest_local_announcements .meta {
    font-size: 13px;
    color: #000;
    font-style: italic;
    text-align: right;
    display: inline-block;
    float: left;
    position: relative;
}
.block_latest_local_announcements .actions {
    display: none;
    float: left;
    font-size: 13px;
    transition: opacity 0.5s ease;
    margin-left: 10px;
    position: absolute;
    right: 0px;
    top: 0;
}
.block_latest_local_announcements .home .actions {
    position: relative;
}
.block_latest_local_announcements .preloads-completed .actions {
    display: inline-block;
}
.block_latest_local_announcements .actions .inline-list li {
    display: inline-block;
    margin-left: 8px;
}
.block_latest_local_announcements .clear {
    clear: both;
}
.block_latest_local_announcements .audiences {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1px;
}
.block_latest_local_announcements .audiences .tip {
    display: none;
    position: absolute;
    bottom: 23px;
    font-size: 12px;
    width: auto;
    max-width: 200px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    border-radius: 9px;
    z-index: 1000;
    padding: 6px 6px 10px;
    line-height: 1.4;
    white-space: normal;
    text-align: left;
}
.block_latest_local_announcements .audiences .tip a {
    color: #fff;
}
.block_latest_local_announcements .audiences .tip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.block_latest_local_announcements .audiences:hover .tip {
    display: block;
}
.block_latest_local_announcements .message {
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
    transition: all 0.5s ease;
}
.block_latest_local_announcements .message img {
    max-width: 100%;
}
.block_latest_local_announcements .fetching-full .message {
    background-color: #f2f2f2;
    color: #898989;
}
.block_latest_local_announcements .message p:last-of-type {
    margin-bottom: 0;
}
.block_latest_local_announcements .attachments {
    margin: 0px 15px 10px;
}
.block_latest_local_announcements .attachments .comma-list {
    display: block;
}
.block_latest_local_announcements .attachments .comma-list li {
    display: inline-block;
}
.block_latest_local_announcements .announcement .modcomment {
    margin: 0px 15px 10px;
}
.block_latest_local_announcements .auditing-icon {
    color: #000;
    text-align: center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 80px;
    top: 20px;
}
.block_latest_local_announcements .auditing-icon.auditing-is-on {
    background-color: rgba(204, 169, 44, 0.4);
}
.block_latest_local_announcements .auditing-icon .tip {
    display: none;
    position: absolute;
    bottom: 36px;
    font-size: 12px;
    width: 187px;
    margin-left: -81px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    border-radius: 9px;
    z-index: 1000;
    padding: 6px 6px 10px;
    line-height: 1.4;
}
.block_latest_local_announcements .auditing-icon:hover .tip {
    display: block;
}
.block_latest_local_announcements .tip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.block_latest_local_announcements .auditing-icon .loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}
.block_latest_local_announcements .auditing-icon .loader .circle {
    display: block;
    position: relative;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #595959;
    border-left-color: #595959;
    text-indent: -9999px;
    height: 25px;
    width: 25px;
    margin: 0;
}
.block_latest_local_announcements .auditing-icon.loading .loader {
    display: block;
}
.block_latest_local_announcements .announcement .message .loader {
    display: none;
    float: none;
    padding: 10px 0;
}
.block_latest_local_announcements .announcement.fetching-full .message .loader {
    display: inline-block;
}
.block_latest_local_announcements .announcement .message .loader .circle {
    width: 20px;
    height: 20px;
    border-top-color: #000;
    border-left-color: #000;
    margin: 0 auto;
}